$primary: #1976d2;

.btn {
  position: relative;
  display: inline-block;
  padding: .6em 1.1em;
  border: 0;
  border-radius: 2px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $primary;
  transition: .25s;

  &:hover,
  &:focus {
    &:not([disabled]) {
      background-color: darken($primary, 10%);
      outline: none;
    }
  }
}

.btn[disabled] {
  opacity: .5;
  cursor: not-allowed;
}

.btn_active {
  background-color: lighten($primary, 15%);
}
